<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2012 ParanoidAndroid Project

     Licensed under the GNU GPLv2 license

     The text of the license can be found in the LICENSE file
     or at https://www.gnu.org/licenses/gpl-2.0.txt
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paranoid.ParanoidWallpapers">
    
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="Wallpaper"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:screenOrientation="nosensor"
            android:finishOnCloseSystemDialogs="true">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="SolidColor"
            android:label="@string/solid_color"
            android:icon="@drawable/solid_color" >
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>